body {

    background-color: #f5fffa;
    /* background-image: url(/src/static/фон.jpg); */
    background: rgb(247,242,244);
    background: linear-gradient(90deg, rgba(247,242,244,1) 0%, rgba(205,226,228,1) 33%, rgba(196,205,246,1) 49%, rgba(245,222,252,1) 74%, rgba(241,230,235,1) 82%, rgba(242,242,242,1) 95%, rgba(242,242,242,1) 100%);
    transition:
      color 0.5s,
      background-color 0.5s;
    font-family: 'Monotype Corsiva', sans-serif;
    font-size: 20px;
  
  
  }